DATABASE_URL=
FERNET_SECRET_KEY=
ADMIN_SECRET_TOKEN=

TELEGRAM_BOT_TOKEN=

WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WEBHOOK_VERIFY_TOKEN=

MISTRAL_API_KEY=

APP_ENV=production
